<!DOCTYPE html>
<html>
  <head>
    <link href="//<%=ASSET_HOST%>/stylesheets/bootstrap/bootstrap.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="//<%=ASSET_HOST%>/stylesheets/bootstrap/responsive.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="//<%=ASSET_HOST%>/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css">
    <style type="text/css">
      body {
        background-color: whiteSmoke;
      }
      ul.thumbnails {
        margin-left: 0px;
      }
      ul.thumbnails li {
        background-color: white;
        margin-left: 20px;
      }
      ul.thumbnails img {
        width: 48px; 
        height: 48px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px
      }
    </style>
  </head>
  <body>
    <ul class="thumbnails">
      <% @signatories.each do |signatory| %>
        <li>
          <a href="https://twitter.com/<%= signatory['nickname'] %>" class="thumbnail" target ='_top' 
            rel='tooltip' data-placement="bottom" data-original-title="<%= signatory['name'] %><br/>@<%= signatory['nickname'] %>">
            <img src="<%= signatory['image'] %>" alt="<%= signatory['nickname'] %>">
            <div style='clear:left'></div>
          </a>
        </li>
      <% end %>
    </ul>    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/bootstrap-tooltip.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
    </script>
  </body>
</html>
